---
layout: base.html
pageTitle: 'Blog'
aboutBackgroundImage: '/assets/img/blog/laptop-person.jpg'
pagination:
    data: collections.post
    size: 4
    reverse: true
    alias: posts
---

<section id="page-title" class="page-title">
    <div class="bg-title">
        <div class="container">
            <div class="title">
                <h1>Blog</h1>
            </div><!-- End .title -->
            <div class="breadcrumb">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li>Blog</li>
                </ul>
            </div>
        </div> <!-- End .conatainer -->
    </div>
</section>
<!--
=====================
    End Page Title
=====================
-->

<section id="content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="primary">

                    {% for post in posts %}

					<div class="blog-post">
						<div class="thum-item">
							<img src="{{ post.data.backgroundImage }}" width="600" height="200" class="img-fluid" alt="Post Thumnail Image">
						</div> <!-- End .thum-item -->
						<div class="post">
							<div class="blog-title">
								<h2><a href="{{ post.url | url }}">{{ post.data.title }}</a></h2>
							</div>
							<div class="meta">
								<ul>
									<li class="category"><a href="#">Programming</a></li>
									<li class="author">Héber Sandoval</li>
									<li class="date">{{ post.date | dateReadable }}</li>
								</ul>
							</div> <!-- End .meta -->
							<div class="content">

								<p>{% excerpt post %}</p>

							</div> <!-- End .content -->
							<div class="line"></div>
							<div class="share">
								<div class="post-bottom">
                                    
                                    <ul class="list-inline">
                                        <li class="list-inline-item"><a class="btn btn-primary" href="{{ post.url | url }}">Continue Reading</a></li>
                                        <!-- <li class="list-inline-item"><a class="btn btn-outline-light" href="#">Our company</a></li> -->
                                    </ul>

									<!-- <div class="continue">
										<a href="{{ post.url | url }}">Continue Reading <span><i
													class="fa fa-long-arrow-right"></i></span></a>
                                    </div>  -->
                                    <!-- End .continue -->
									<!-- <div class="share-iocn">
										<span class="share">Share:</span>
										<span class="icon"><a href="#"><i class="fa fa-facebook"></i></a></span>
										<span class="icon"><a href="#"><i class="fa fa-twitter"></i></a></span>
										<span class="icon"><a href="#"><i class="fa fa-pinterest"></i></a></span>
                                    </div>  -->
                                    <!-- End .share-iocn -->
								</div> <!-- End .post-bottom -->
							</div> <!-- End .share -->
						</div> <!--  End .post -->
                    </div> <!-- End .blog-post -->

                    <hr>
                    {% endfor %}


					<nav>
                        <ul class="pagination">
                            {% if pagination.href.previous %}
                                <li class="page-item"><a class="page-link" href="{{ pagination.href.previous }}">Previous</a></li>
                            {% endif %}
                            {% if pagination.href.next %}
                                <li class="page-item"><a class="page-link" href="{{ pagination.href.next }}">Next</a></li>
                            {% endif %}
                        </ul>
					</nav>
				</div>
				<!--
				===============
				End .primary 
				===============
			    -->
			</div> <!-- End .col-md-12 -->
		</div> <!-- End .row -->
	</div> <!-- End .container -->
</section>
<!--
=======================
    End Section Content
=======================
-->